{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block content %}

    <section class="wow fadeIn bg-light-gray padding-50px-tb page-title-small top-space">
        <div class="container">
            <div class="row equalize xs-equalize-auto">
                <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12 center-col margin-eight-bottom sm-margin-40px-bottom xs-margin-30px-bottom text-center last-paragraph-no-margin">
                    <h5 class="alt-font font-weight-700 text-extra-dark-gray text-uppercase">{{ page.title }}</h5>
                    <p>{{ page.description }}</p>
                </div>
            </div>
        </div>
    </section>

    <section class="wow fadeIn">
        <div class="container">
            <div class="row equalize xs-equalize-auto">

                {% for post in posts %}
                    <div class="grid-item col-md-4 col-sm-6 col-xs-12 margin-30px-bottom xs-text-center wow fadeInUp">
                        <div class="blog-post blog-post-style2">
                            <div class="post-details">
                                <div class="tag-cloud">
                                    <a href="#" class="tag-cloud">Category</a>
                                </div>

                                <span class="text-large alt-font width-85 md-width-95 margin-15px-bottom display-block">
                                    <a href="{% pageurl post %}" class="text-extra-dark-gray">{{post.specific.title}}</a>
                                </span>
                                <p class="width-90 xs-margin-15px-bottom xs-width-100">
                                    {% if post.specific.intro %}
                                        {{ post.specific.intro | truncatewords:20}}
                                    {% else %}
                                        {{ post.specific.body | truncatewords:20 |richtext}}
                                    {% endif %}
                                </p>
                                <div class="author border-top border-color-extra-light-gray padding-25px-top xs-padding-15px-top">
                                    <span class="text-medium-gray text-uppercase text-extra-small padding-15px-left">
                                        {{ post.specific.created }} | by <a href="#" class="text-medium-gray">{{ post.owner }}</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </section>

{% endblock %}
