<section class="wow fadeIn bg-light-gray padding-75px-tb page-title-small top-space">
    <div class="container">
        <div class="row equalize xs-equalize-auto">
            <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12 center-col margin-eight-bottom sm-margin-40px-bottom xs-margin-30px-bottom text-center last-paragraph-no-margin">
                <h5 class="alt-font font-weight-700 text-extra-dark-gray text-uppercase">{{ block.value }}</h5>
            </div>
        </div>
    </div>
</section>