{% load block_tags %}

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-10 col-xs-12 center-col text-center">
            {% with blocks=self %}

                {% block_value blocks 'button_url' as url %}

                <h5 class="alt-font text-uppercase font-weight-700 text-extra-dark-gray width-80 center-col margin-35px-bottom md-width-100 wow fadeInUp">
                    {% block_value blocks 'header_text' %}
                </h5>

                <a href="../{{ url.slug | lower }}" class="btn btn-medium btn-rounded btn-transparent-dark-gray wow fadeInUp"  data-wow-delay="0.2s">
                    {% block_value blocks 'button_text' %}
                </a>

            {% endwith %}
        </div>
    </div>
</div>
