{% extends 'base.html' %}

{% load static wagtailcore_tags widget_tweaks %}

{% block content %}

    <section class="wow fadeIn cover-background background-position-top top-space">
        <div class="opacity-medium bg-extra-dark-gray"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 display-table page-title-large">
                    <div class="display-table-cell vertical-align-middle text-center padding-30px-tb">
                        <h1 class="alt-font text-white font-weight-600 no-margin-bottom">{{ page.intro }}</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="no-padding-bottom wow fadeIn" id="section-down">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-10 col-xs-12 text-center center-col margin-eight-bottom xs-margin-30px-bottom last-paragraph-no-margin">
                    {{ page.body }}
                </div>
            </div>
        </div>
    </section>


    <section class="wow fadeIn bg-light-gray padding-75px-tb page-title-small top-space">
        <div class="container padding-two-tb">
            <div class="row">
                <div class="col-md-6 wow fadeIn center-col">
                    <div class="padding-fifteen-all bg-white border-radius-6 md-padding-seven-all">

                        <form action="{% pageurl page %}" method="POST" class="input-bg">
                            {% csrf_token %}

                            {% if form.non_field_erors %}
                                <div class="alert alert-danger" role="alert">
                                    {% for error in form.non_field_errors %}
                                        {{ error }}
                                    {% endfor %}
                                </div>
                            {% endif %}

                            {% for field in form.visible_fields %}
                                <div class="form-group">
                                    {{ field.label_tag }}
                                    {% render_field field class+="form-control"%}
                                </div>
                            {% endfor %}

                            <button type="submit" class="btn btn-small border-radius-4 btn-black">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}