{% load menu_tags %}

    <div class="col-md-7 col-xs-2 width-auto pull-right accordion-menu xs-no-padding-right">
        <button type="button" class="navbar-toggle collapsed pull-right" data-toggle="collapse" data-target="#navbar-collapse-toggle-1">
            <span class="sr-only">toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div class="navbar-collapse collapse pull-right" id="navbar-collapse-toggle-1">
            <ul id="accordion" class="nav navbar-nav navbar-left no-margin alt-font text-normal" data-in="fadeIn" data-out="fadeOut">
                {% for item in menu_items %}
                    <li class="dropdown megamenu-fw">
                        <a href="{{ item.href }}">{{ item.text }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>