{% load menu_tags wagtailcore_tags %}

<header>
    <nav class="navbar navbar-default bootsnav bg-transparent navbar-scroll-top nav-box-width header-light">
        <div class="container-fluid nav-header-container">
            <div class="row">
                <div class="col-md-2 col-xs-5">
                    <a href="{% pageurl page.get_site.root_page %}">Logo</a>
                </div>

                {% main_menu template="menu.html" %}

                <div class="col-md-2 col-xs-5 width-auto">
                    <div class="header-social-icon xs-display-none">
                        <a href="https://www.facebook.com/" title="Facebook" target="_blank"><i class="fab fa-facebook-f" aria-hidden="true"></i></a>
                        <a href="https://instagram.com/" title="Twitter" target="_blank"><i class="fab fa-instagram"></i></a>
                    </div>

                </div>
            </div>
        </div>
    </nav>
</header>